@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Roboto+Flex:opsz,wght@8..144,300&display=swap");
/* applying color variables */
:root {
  --font-color-white: #e6e6e6;
  --main-bg-color: #1a1a2d;
  --hero-text-color: #d24141;
  --navbar-color: #292c35;
}
/* Add this CSS to your style.css file */
html {
  scroll-behavior: smooth;
}

/* removig the default behavior as marging padding etc  */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  background-color: var(--main-bg-color);
}

/* adding styling for mobile */

/* adding desktop style */

/* ************************/
/* styling header */
.main-header {
  color: var(--font-color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
}

.hero {
  color: var(--hero-text-color);
  fill: var(--font-color-white);
}
.main-header button {
  width: max-content;
  margin: 0 auto;
  padding: 5px 15px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--hero-text-color);
  border-radius: 14px;
  transition: linear 0.5s;
}
.main-header button:hover {
  background-color: #d24141;
  text-align: center;
  border: 1px solid var(--font-color-white);
}

.main-header button a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-white);
  text-decoration: none;
  font-family: "Roboto Flex", sans-serif;
  font-stretch: extra-expanded;
}

.arrow-down {
  width: 25px;
  margin-left: 10px;
}
/* navbar */

.navbar-container {
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  background-color: var(--navbar-color);
  z-index: 1000; /* Ensure it's above other elements */
}

.nav-list {
  display: flex;
  padding: 15px 0;
  margin-top: 0px;
  list-style: none;
  justify-content: center;
  gap: 15px;
}
.nav-items a {
  text-decoration: none;
  color: var(--font-color-white);
  font-size: 17px;
}
.nav-items a:hover {
  color: var(--hero-text-color);
}
.nav-items a:focus,
.nav-items a:active {
  border-bottom: 2px solid var(--hero-text-color);
  color: var(--font-color-white);
  padding-bottom: 5px;
}
/* about */

.about-header {
  padding-top: 60px;
}
.about-text {
  text-align: center;
  color: var(--font-color-white);
  font-size: 30px;
  font-weight: 700;
}
.about-text hr {
  display: block; /* Add this line to make it a block-level element */
  margin-top: 10px; /* Adjust the margin as needed */
  color: var(--hero-text-color);
}

fieldset {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid var(--hero-text-color);
}
legend {
  padding: 0 20px;
}

/* about conteny styling */
.main-section {
  margin: 10px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  justify-content: space-around;
}
/* profil bio styling */

.profile-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-bio p {
  color: var(--font-color-white);
  font-size: 18px;
  font-weight: 500;
  width: 80%;
  line-height: 1.4;
  margin: 6px;
}

.profile-bio img {
  width: 200px;
  border-radius: 40%;
  margin: 0 auto;
}

/* skills logo styling */
.skills-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.col1,
.col2,
.col3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* icons and img , text styling */
.icon {
  width: 60px;
}
.nextjs-icon {
  fill: var(--font-color-white);
}

/* hobby text */
.hobby-text {
  color: var(--font-color-white);
  margin: 20px 40px;
  text-align: center;
  line-height: 1.4;
}
.hobby-text p {
  margin: 40px 0;
  font-size: 14px;
}

/* article styling */

.article-main-container {
  color: var(--font-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.article-container .article-container {
  border: 2px solid white;
}
.article-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.img-projects {
  width: 200px;
}

#btn-live-demo {
  background-color: var(--main-bg-color);
  color: var(--font-color-white);
  text-decoration: none;
  background: #ffffff4d;
  padding: 5px 15px;
  border-radius: 10px;
}
#btn-code {
  background-color: var(--main-bg-color);
  text-decoration: none;
  color: var(--font-color-white);
 border-bottom: 2px solid var(--font-color-white);
  padding: 5px 15px;
}

.a-button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 900px) {
  .main-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .profile-bio p {
    font-size: 14px;
    text-align: center;
    width: 100%;
  }

  /* acrticle mobile styling */
  .article-container {
    color: var(--font-color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 40px;
  }
}

/* footer styling */
.footer {
  background-color: var(--navbar-color);
  color: var(--font-color-white);
  padding: 15px;
  text-align: center;
}
